# CLI Environment

API_KEY=

MODEL_NAME=gemini-2.0-flash-lite-001

DIAL_URL=https://dev-dial-core.staging.deltixhub.io
XL_URL=https://quantgrid-dev.staging.deltixhub.io

# Test Environment

TEST_API_KEY=

TEST_MODEL_NAME=gemini-2.0-flash-lite-001

TEST_DIAL_URL=https://dev-dial-core.staging.deltixhub.io
TEST_XL_URL=https://quantgrid-dev.staging.deltixhub.io