@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@import '@deltix/grid-it/index.css';
@import 'react-reflex/styles.css';
@import 'react-toastify/dist/ReactToastify.css';
@import 'libs/common/src/lib/styles/variables';

@font-face {
  @include inter-light;

  src: url('assets/fonts/Inter-Light.ttf');
}

@font-face {
  @include inter-regular;

  src: url('assets/fonts/Inter-Regular.ttf');
}

@font-face {
  @include inter-semi-bold;

  src: url('assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  @include inter-bold;

  src: url('assets/fonts/Inter-Bold.ttf');
}

body,
.ant-btn,
.ant-input,
.ant-modal,
.ant-menu,
.ant-tree,
.ant-tooltip,
.ant-dropdown-menu,
.ant-checkbox,
.ant-breadcrumb {
  font-family: $font;
}

body {
  overflow: hidden;
}

.grid-root {
  font-size: 14px;
  font-weight: 400;
  color: black;
  font-family: 'Inconsolata', monospace;
  font-style: normal;
}

.ant-input::placeholder {
  color: var(--text-secondary);
  font-family: $font;
  font-weight: 400;
}

.ant-input-md.ant-input::placeholder {
  font-size: 16px;
}

.ant-input-md.ant-input::placeholder {
  font-size: 13px;
}

.ant-dropdown-menu {
  overflow-y: auto;
  max-height: 50dvh;
}
.ant-dropdown-menu::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.ant-dropdown-menu::-webkit-scrollbar-track {
  background: var(--bg-layer-0);
}
.ant-dropdown-menu::-webkit-scrollbar-thumb {
  background: var(--bg-layer-4);
  border-radius: 3px;
}
.ant-dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: var(--bg-scrollbar-hover);
}

.ant-dropdown,
.ant-dropdown-menu-submenu {
  .ant-dropdown-menu {
    background: var(--bg-layer-0);
    border: 1px solid var(--stroke-primary);
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(9, 13, 19, 0.15);
    padding: 0;

    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
      border-radius: 0;
      color: var(--text-primary);
      font-size: 13px;
      padding: 0;
      display: flex;
      justify-content: space-between;
      gap: 4px;

      .ant-dropdown-menu-submenu-expand-icon {
        position: static;
        margin-right: 12px;
        display: flex;
        align-items: center;
      }

      .ant-dropdown-menu-submenu-expand-icon
        .ant-dropdown-menu-submenu-arrow-icon {
        color: var(--text-primary);
      }
    }

    .ant-dropdown-menu-item-selected {
      background-color: var(--bg-accent-primary-alpha);
    }

    .ant-dropdown-menu-item-disabled {
      color: var(--controls-text-disable);
    }

    .ant-dropdown-menu-item-active,
    .ant-dropdown-menu-submenu-active {
      background-color: var(--bg-layer-2);
    }

    .ant-dropdown-menu-item:hover,
    .ant-dropdown-menu-submenu-title:hover {
      background: var(--bg-accent-primary-alpha);
    }

    .ant-dropdown-menu-item:focus-visible,
    .ant-dropdown-menu-submenu-title:focus-visible {
      outline: none;
    }

    .ant-dropdown-menu-item-divider {
      background-color: var(--stroke-primary);
    }
  }
}

// Required for context menu submenu items not to hide when click on them
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 0;
}

.ant-modal {
  .ant-modal-content {
    background-color: var(--bg-layer-3);
    border-radius: 3px;

    .anticon.anticon-close.ant-modal-close-icon {
      color: var(--text-primary);
    }

    .ant-modal-header {
      background-color: var(--bg-layer-3);

      .ant-modal-title {
        color: var(--text-primary);
      }
    }

    .ant-modal-confirm-title,
    .ant-modal-confirm-content {
      color: var(--text-primary);
    }
  }
}

.ant-tree.ant-tree-directory {
  .ant-tree-node-content-wrapper {
    display: flex;
    overflow-x: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ant-tree-switcher {
    width: 8px;

    &:hover {
      background-color: transparent;
      transition: none;
    }
  }

  .ant-tree-switcher .ant-tree-switcher-icon {
    vertical-align: 2px;
  }

  .ant-tree-treenode::before {
    border-radius: 3px;
  }

  .anticon {
    vertical-align: -3px;
  }

  .ant-tree-title {
    font-size: 13px;
    padding-left: 4px;
    width: calc(100% - 35px);
  }

  .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
    color: var(--text-primary);
  }

  .ant-tree-treenode-selected::before {
    background: var(--bg-accent-primary-alpha);
    border-left: 2px solid var(--stroke-accent-primary);
  }

  .ant-tree-treenode-selected:hover::before {
    background: var(--bg-accent-primary-alpha);
  }

  .ant-tree-treenode:hover::before {
    background: var(--bg-accent-primary-alpha);
  }

  .point-click.ant-tree-treenode:hover::before {
    background: transparent;
    border: 2px dashed var(--stroke-accent-secondary);
  }
}

.ant-menu-light.ant-menu-horizontal {
  border-bottom: none;
  font-size: 13px;

  &.ant-menu-root:focus-visible {
    outline: none;
  }

  .ant-menu-submenu {
    padding-inline: 12px;

    &:after {
      inset-inline: 0;
    }
  }

  .ant-menu-submenu-title {
    .anticon + span {
      margin-inline-start: 8px;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .ant-menu-title-content {
    color: var(--text-primary);
  }

  .ant-menu-item-icon {
    color: var(--text-primary);
    vertical-align: -4px;
  }

  .ant-menu-submenu-open::after,
  .ant-menu-submenu:hover::after {
    border-bottom-color: var(--stroke-accent-primary);
  }
}

.ant-menu-light.ant-menu-submenu-popup > .ant-menu {
  background: var(--bg-layer-0);
  border: 1px solid var(--stroke-primary);
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(9, 13, 19, 0.15);
  font-size: 13px;

  .ant-menu-item-divider {
    border-color: var(--stroke-primary);
  }

  .ant-menu-submenu-title,
  .ant-menu-item {
    color: var(--text-primary);
    height: auto;
    line-height: 26px;
    margin: 0;
    width: 100%;
    padding: 0;

    &:hover {
      color: var(--text-primary) !important;
      background-color: var(--bg-accent-primary-alpha) !important;
    }
  }
}

.ant-tooltip {
  .ant-tooltip-arrow:before {
    background: var(--bg-inverted);
  }

  .ant-tooltip-inner {
    background: var(--bg-inverted);
    border-radius: 3px;
    color: var(--text-inverted);
    font-size: 11px;
    line-height: 16px;
    min-height: 28px;
  }
}

// checkbox
.ant-checkbox-wrapper {
  color: var(--text-primary);

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--bg-accent-primary-alpha) !important;
    border-color: var(--stroke-accent-primary) !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner:after {
    border-color: var(--stroke-accent-primary);
  }

  .ant-checkbox .ant-checkbox-inner {
    background-color: var(--bg-layer-0);
    border-color: var(--stroke-primary);
  }

  .ant-checkbox:hover .ant-checkbox-inner {
    border-color: var(--stroke-accent-primary);
  }

  .ant-checkbox-input:focus-visible + .ant-checkbox-inner {
    outline: none;
  }

  &:hover .ant-checkbox-inner {
    border-color: var(--stroke-accent-primary) !important;
  }
}

.dial-xl-checkbox {
  .ant-checkbox-inner {
    height: 18px;
    width: 18px;
  }
}

.ant-breadcrumb {
  font-size: 16px;
  font-weight: 500;

  .ant-breadcrumb-link {
    color: var(--text-secondary);
    cursor: pointer;

    &.active-item {
      color: var(--text-primary);
    }
  }
}

// panel

.reflex-container.vertical > .reflex-splitter,
.reflex-container.vertical .reflex-splitter {
  background-color: var(--stroke-tertiary);
  border-right: none;
  border-left: 1px solid var(--stroke-tertiary);

  &:hover {
    border-right: none;
    border-left: 1px solid var(--stroke-tertiary);
    transition: none;
  }
}

.reflex-container.horizontal > .reflex-splitter,
.horizontal .reflex-splitter {
  background-color: var(--stroke-tertiary);
  border-bottom: none;
  border-top: 1px solid var(--stroke-tertiary);

  &:hover {
    border-bottom: none;
    border-top: 1px solid var(--stroke-tertiary);
    transition: none;
  }
}

.ant-spin .ant-spin-dot-item {
  background-color: var(--stroke-accent-primary);
}

.ant-popover .ant-popover-inner {
  @apply p-0 bg-bgLayer0 rounded text-textPrimary border border-strokePrimary;
}

#mainProjectMenu {
  @media (max-width: 1280px) {
    .ant-menu-title-content {
      display: none;
    }
  }
}

@layer components {
  .thin-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background: var(--bg-layer-0);
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: var(--bg-layer-4);
    border-radius: 3px;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--bg-scrollbar-hover);
  }
}

.theme-dark .prose,
.theme-dark-mixed .prose {
  @apply prose-invert;
}

// themes
.theme-light {
  --bg-accent-primary-alpha: rgba(132, 62, 243, 0.1);
  --bg-accent-primary-alpha-2: rgba(169, 114, 255, 0.2);
  --bg-accent-tertiary-alpha: #e7edf9;
  --bg-accent-secondary: #009d9f;
  --bg-accent-tertiary: #2764d9;
  --bg-error: #f3d6d8;
  --bg-grid-accent-primary-alpha: rgba(132, 62, 243, 0.1);
  --bg-grid-field: #dde1e6;
  --bg-grid-header: #b7bdc3;
  --bg-grid-colored-cell: #f3f4f6;
  --bg-grid-inverted: #222932;
  --bg-grid-layer-main: #fcfcfc;
  --bg-inverted: #222932;
  --bg-layer-0: #fcfcfc;
  --bg-layer-2: #f3f4f6;
  --bg-layer-3: #fcfcfc;
  --bg-layer-4: #dde1e6;
  --bg-layer-5: #b7bdc3;
  --bg-scrollbar-hover: #97979f;
  --controls-bg-accent-hover: #843ef3;
  --controls-bg-accent: #9656fc;
  --controls-bg-disable: #7f8792;
  --controls-text-disable: #dde1e6;
  --controls-text-permanent: #fcfcfc;
  --stroke-accent-primary: #843ef3;
  --stroke-accent-secondary: #009d9f;
  --stroke-accent-tertiary: #2764d9;
  --stroke-error: #ae2f2f;
  --stroke-grid-accent-primary: #843ef3;
  --stroke-grid-error: #ae2f2f;
  --stroke-grid-main: #d4d4d4;
  --stroke-grid-table: #b7bdc3;
  --stroke-grid: #dde1e6;
  --stroke-hover-focus: #141a23;
  --stroke-hover: #141a23;
  --stroke-primary: #dde1e6;
  --stroke-secondary: #b7bdc3;
  --stroke-tertiary: #dde1e6;
  --text-accent-primary: #843ef3;
  --text-accent-secondary: #009d9f;
  --text-accent-tertiary: #2764d9;
  --text-error: #ae2f2f;
  --text-grid-primary: #141a23;
  --text-inverted: #f3f4f6;
  --text-primary: #141a23;
  --text-secondary: #7f8792;
}

.theme-dark {
  --bg-accent-primary-alpha: rgba(169, 114, 255, 0.17);
  --bg-accent-primary-alpha-2: rgba(132, 62, 243, 0.35);
  --bg-accent-tertiary-alpha: #121e33;
  --bg-accent-secondary: #37babc;
  --bg-accent-tertiary: #5c8dea;
  --bg-error: #402027;
  --bg-grid-accent-primary-alpha: rgba(169, 114, 255, 0.17);
  --bg-grid-field: #333942;
  --bg-grid-header: #4c535d;
  --bg-grid-colored-cell: #141a23;
  --bg-grid-inverted: #fcfcfc;
  --bg-grid-layer-main: #03070d;
  --bg-inverted: #fcfcfc;
  --bg-layer-0: #000;
  --bg-layer-2: #141a23;
  --bg-layer-3: #222932;
  --bg-layer-4: #333942;
  --bg-layer-5: #4c535d;
  --bg-scrollbar-hover: #282c34;
  --controls-bg-accent-hover: #a972ff;
  --controls-bg-accent: #9656fc;
  --controls-bg-disable: #7f8792;
  --controls-text-disable: #333942;
  --controls-text-permanent: #fcfcfc;
  --stroke-accent-primary: #a972ff;
  --stroke-accent-secondary: #37babc;
  --stroke-accent-tertiary: #5c8dea;
  --stroke-error: #f76464;
  --stroke-grid-accent-primary: #a972ff;
  --stroke-grid-error: #f76464;
  --stroke-grid-main: #2b313b;
  --stroke-grid-table: #4c535d;
  --stroke-grid: #222932;
  --stroke-hover-focus: #f3f4f6;
  --stroke-hover: #f3f4f6;
  --stroke-primary: #333942;
  --stroke-secondary: #4c535d;
  --stroke-tertiary: #03070d;
  --text-accent-primary: #a972ff;
  --text-accent-secondary: #009d9f;
  --text-accent-tertiary: #5c8dea;
  --text-error: #f76464;
  --text-grid-primary: #f3f4f6;
  --text-inverted: #141a23;
  --text-primary: #f3f4f6;
  --text-secondary: #7f8792;
}

.theme-dark-mixed {
  --bg-accent-primary-alpha: rgba(169, 114, 255, 0.17);
  --bg-accent-primary-alpha-2: rgba(132, 62, 243, 0.35);
  --bg-accent-tertiary-alpha: #121e33;
  --bg-accent-secondary: #37babc;
  --bg-accent-tertiary: #5c8dea;
  --bg-error: #402027;
  --bg-grid-accent-primary-alpha: rgba(132, 62, 243, 0.1);
  --bg-grid-field: #dde1e6;
  --bg-grid-header: #b7bdc3;
  --bg-grid-colored-cell: #f3f4f6;
  --bg-grid-inverted: #222932;
  --bg-grid-layer-main: #fcfcfc;
  --bg-inverted: #fcfcfc;
  --bg-layer-0: #000;
  --bg-layer-2: #141a23;
  --bg-layer-3: #222932;
  --bg-layer-4: #333942;
  --bg-layer-5: #4c535d;
  --bg-scrollbar-hover: #282c34;
  --controls-bg-accent-hover: #a972ff;
  --controls-bg-accent: #9656fc;
  --controls-bg-disable: #7f8792;
  --controls-text-disable: #333942;
  --controls-text-permanent: #fcfcfc;
  --stroke-accent-primary: #a972ff;
  --stroke-accent-secondary: #009d9f;
  --stroke-accent-tertiary: #5c8dea;
  --stroke-error: #f76464;
  --stroke-grid-accent-primary: #843ef3;
  --stroke-grid-error: #ae2f2f;
  --stroke-grid-main: #d4d4d4;
  --stroke-grid-table: #b7bdc3;
  --stroke-grid: #222932;
  --stroke-hover-focus: #f3f4f6;
  --stroke-hover: #f3f4f6;
  --stroke-primary: #333942;
  --stroke-secondary: #b7bdc3;
  --stroke-tertiary: #03070d;
  --text-accent-primary: #a972ff;
  --text-accent-secondary: #009d9f;
  --text-accent-tertiary: #5c8dea;
  --text-error: #f76464;
  --text-grid-primary: #141a23;
  --text-inverted: #141a23;
  --text-primary: #f3f4f6;
  --text-secondary: #7f8792;
}
