@use 'node_modules/react-reflex/styles.css';
@use 'node_modules/react-toastify/dist/ReactToastify.css';
@use 'libs/common/src/lib/styles/variables.scss' as vars;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  @include vars.inter-light;

  src: url('assets/fonts/Inter-Light.ttf');
}

@font-face {
  @include vars.inter-regular;

  src: url('assets/fonts/Inter-Regular.ttf');
}

@font-face {
  @include vars.inter-semi-bold;

  src: url('assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  @include vars.inter-bold;

  src: url('assets/fonts/Inter-Bold.ttf');
}

body,
.ant-btn,
.ant-input,
.ant-input-number,
.ant-modal,
.ant-menu,
.ant-tree,
.ant-tooltip,
.ant-dropdown-menu,
.ant-checkbox,
.ant-breadcrumb,
.ant-collapse,
.ant-switch,
.ant-color-picker {
  font-family: vars.$font;
}

body {
  overflow: hidden;
}

.grid-root {
  font-size: 14px;
  font-weight: 400;
  color: black;
  font-family: 'Inconsolata', monospace;
  font-style: normal;
}

.ant-input::placeholder {
  color: var(--text-secondary);
  font-family: vars.$font;
  font-weight: 400;
}

.ant-input-md.ant-input::placeholder {
  font-size: 16px;
}

.ant-input-md.ant-input::placeholder {
  font-size: 13px;
}

.ant-form.ant-form-vertical .ant-form-item {
  padding-bottom: 0;
  margin-bottom: 0;
}
.ant-form-vertical
  .ant-form-item:not(.ant-form-item-horizontal)
  .ant-form-item-label {
  padding-bottom: 0;
}

.ant-dropdown-menu-sub {
  overflow-y: auto;
  max-height: 50dvh;
}
.ant-dropdown-menu::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.ant-dropdown-menu::-webkit-scrollbar-track {
  background: var(--bg-layer-0);
}
.ant-dropdown-menu::-webkit-scrollbar-thumb {
  background: var(--bg-layer-4);
  border-radius: 3px;
}
.ant-dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: var(--bg-scrollbar-hover);
}

.ant-dropdown,
.ant-dropdown-menu-submenu {
  .ant-dropdown-menu {
    background: var(--bg-layer-0);
    border: 1px solid var(--stroke-primary);
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(9, 13, 19, 0.15);
    padding: 0;

    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
      border-radius: 0;
      color: var(--text-primary);
      font-size: 13px;
      padding: 0;
      display: flex;
      justify-content: space-between;
      gap: 4px;

      .ant-dropdown-menu-submenu-expand-icon {
        position: static;
        margin-right: 12px;
        display: flex;
        align-items: center;
      }

      .ant-dropdown-menu-submenu-expand-icon,
      .ant-dropdown-menu-submenu-arrow-icon {
        color: var(--text-primary) !important;
      }
    }

    .ant-dropdown-menu-item-selected {
      background-color: var(--bg-accent-primary-alpha);
    }

    .ant-dropdown-menu-item-disabled,
    .ant-dropdown-menu-submenu.ant-dropdown-menu-submenu-disabled
      .ant-dropdown-menu-submenu-title {
      color: var(--controls-text-disable);
    }

    .ant-dropdown-menu-item-active,
    .ant-dropdown-menu-submenu-active {
      background-color: var(--bg-layer-2);
    }

    .ant-dropdown-menu-item:hover,
    .ant-dropdown-menu-submenu-title:hover {
      background: var(--bg-accent-primary-alpha);
    }

    .ant-dropdown-menu-item:focus-visible,
    .ant-dropdown-menu-submenu-title:focus-visible {
      outline: none;
    }

    .ant-dropdown-menu-item-divider {
      background-color: var(--stroke-primary);
    }
  }
}

// Required for context menu submenu items not to hide when click on them
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item {
  padding: 0;
}

.ant-dropdown .ant-dropdown-menu:focus-visible {
  outline: none;
}

.ant-modal {
  .ant-modal-content {
    background-color: var(--bg-layer-3);
    border-radius: 3px;

    .anticon.anticon-close.ant-modal-close-icon {
      color: var(--text-primary);
    }

    .ant-modal-header {
      background-color: var(--bg-layer-3);

      .ant-modal-title {
        color: var(--text-primary);
      }
    }

    .ant-modal-confirm-title,
    .ant-modal-confirm-content {
      color: var(--text-primary);
    }
  }
}

.ant-tree.ant-tree-directory {
  .ant-tree-node-content-wrapper {
    display: flex;
    overflow-x: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ant-tree-switcher {
    width: 8px;
    z-index: 100;

    &:hover {
      background-color: transparent;
      transition: none;
    }

    &:hover:before {
      background-color: transparent;
    }

    &:before {
      height: 8px;
      width: 8px;
    }
  }

  .ant-tree-switcher .ant-tree-switcher-icon {
    vertical-align: 2px;
  }

  .anticon {
    vertical-align: -3px;
  }

  .ant-tree-title {
    font-size: 13px;
    padding-left: 4px;
    width: calc(100% - 35px);
  }

  .ant-tree-treenode .ant-tree-node-content-wrapper:hover {
    color: var(--text-primary);
  }

  .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
    color: var(--text-primary);
  }

  .ant-tree-treenode-selected .ant-tree-node-content-wrapper:before {
    background: var(--bg-accent-primary-alpha);
    border-left: 2px solid var(--stroke-accent-primary);
    border-radius: 3px;
  }

  .ant-tree-treenode-selected .ant-tree-node-content-wrapper:hover:before {
    background: var(--bg-accent-primary-alpha);
  }

  .ant-tree-treenode .ant-tree-node-content-wrapper:hover:before {
    background: var(--bg-accent-primary-alpha);
  }

  .point-click.ant-tree-treenode .ant-tree-node-content-wrapper:hover:before {
    background: transparent;
    border: 2px dashed var(--stroke-accent-secondary);
  }
}

.ant-menu-light.ant-menu-horizontal {
  border-bottom: none;
  font-size: 13px;

  &.ant-menu-root:focus-visible {
    outline: none;
  }

  .ant-menu-submenu {
    padding-inline: 12px;

    &:after {
      inset-inline: 0;
    }
  }

  .ant-menu-submenu-title {
    .anticon + span {
      margin-inline-start: 8px;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .ant-menu-title-content {
    color: var(--text-primary);
  }

  .ant-menu-item-icon {
    color: var(--text-secondary);
    vertical-align: -4px;
  }

  .ant-menu-submenu-open::after,
  .ant-menu-submenu:hover::after {
    border-bottom-color: var(--stroke-accent-primary);
  }
}

.ant-menu-light.ant-menu-submenu-popup > .ant-menu {
  background: var(--bg-layer-0);
  border: 1px solid var(--stroke-primary);
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(9, 13, 19, 0.15);
  font-size: 13px;

  .ant-menu-item-divider {
    border-color: var(--stroke-primary);
  }

  .ant-menu-submenu-title,
  .ant-menu-item {
    color: var(--text-primary);
    height: auto;
    line-height: 26px;
    margin: 0;
    width: 100%;
    padding: 0;

    &:hover {
      color: var(--text-primary) !important;
      background-color: var(--bg-accent-primary-alpha) !important;
    }
  }

  .ant-menu-item.ant-menu-item-disabled {
    color: var(--text-secondary) !important;
  }
}

.ant-tooltip {
  .ant-tooltip-arrow:before {
    background: var(--bg-inverted);
  }

  .ant-tooltip-inner {
    background: var(--bg-inverted);
    border-radius: 3px;
    color: var(--text-inverted);
    font-size: 11px;
    line-height: 16px;
    min-height: 28px;
  }
}

// checkbox

.ant-checkbox-group {
  gap: 2px;

  .ant-checkbox {
    margin-top: 3px;
    align-self: flex-start;
  }
}

.ant-checkbox-wrapper {
  color: var(--text-primary);

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--bg-accent-primary-alpha) !important;
    border-color: var(--stroke-accent-primary) !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner:after {
    border-color: var(--stroke-accent-primary);
  }

  .ant-checkbox .ant-checkbox-inner {
    background-color: var(--bg-layer-0);
    border-color: var(--stroke-primary);
  }

  .ant-checkbox:hover .ant-checkbox-inner {
    border-color: var(--stroke-accent-primary);
  }

  .ant-checkbox-input:focus-visible + .ant-checkbox-inner {
    outline: none;
  }

  &:hover .ant-checkbox-inner {
    border-color: var(--stroke-accent-primary) !important;
  }

  span:not(.ant-checkbox) {
    text-align: left;
    line-height: 1.2;
    overflow-wrap: break-word;
  }
}

.dial-xl-checkbox {
  .ant-checkbox-inner {
    height: 18px;
    width: 18px;
  }
}

.ant-breadcrumb {
  font-size: 16px;
  font-weight: 500;

  .ant-breadcrumb-link {
    color: var(--text-secondary);
    cursor: pointer;

    &.active-item {
      color: var(--text-primary);
    }
  }
}

// panel

.reflex-container.vertical > .reflex-splitter,
.reflex-container.vertical .reflex-splitter {
  border-right: none;
  border-left: 1px solid var(--stroke-tertiary);
  min-width: 4px;
  @apply bg-strokeTertiary hover:bg-bgAccentPrimaryAlpha2;

  &:hover {
    border-right: none;
    border-left: 1px solid var(--stroke-tertiary);
    transition: none;
  }
}

.reflex-container.horizontal > .reflex-splitter,
.horizontal .reflex-splitter {
  border-bottom: none;
  border-top: 1px solid var(--stroke-tertiary);
  min-height: 4px;
  @apply bg-strokeTertiary hover:bg-bgAccentPrimaryAlpha2;

  &:hover {
    border-bottom: none;
    border-top: 1px solid var(--stroke-tertiary);
    transition: none;
  }
}

.ant-spin .ant-spin-dot-item {
  background-color: var(--stroke-accent-primary);
}

.ant-popover .ant-popover-inner {
  @apply p-0 bg-bgLayer0 rounded text-textPrimary border border-strokePrimary;
}

#mainProjectMenu {
  @media (max-width: 1280px) {
    .ant-menu-title-content {
      display: none;
    }
  }
}

@layer components {
  .thin-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background: var(--bg-layer-0);
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: var(--bg-layer-4);
    border-radius: 3px;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--bg-scrollbar-hover);
  }
}

.hidden-scrollbar::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.hidden-scrollbar {
  scrollbar-width: 0;
}

.theme-dark .prose,
.theme-dark-mixed .prose {
  @apply prose-invert;
}

// collapse

.ant-collapse {
  border-radius: 0;
  border-right: none;
  border-left: none;
  border-color: var(--stroke-tertiary);
}

.ant-collapse .ant-collapse-item {
  border-radius: 0;
  border-bottom: 1px solid var(--stroke-tertiary);

  .ant-collapse-content {
    background-color: var(--bg-layer-3);
    border-top: none;
  }

  .ant-collapse-content-box {
    padding: 8px 12px 16px;
  }

  .ant-collapse-header {
    background-color: var(--bg-layer-3);

    .ant-collapse-expand-icon {
      color: var(--text-primary);
      padding-inline-end: 4px;
    }

    .ant-collapse-header-text {
      color: var(--text-primary);
      font-size: 13px;
      font-weight: 600;
      user-select: none;
    }
  }
}

// switcher

.ant-switch.ant-switch-checked {
  background: var(--controls-bg-accent);

  .ant-switch-inner .ant-switch-inner-checked {
    color: var(--controls-text-permanent);
    font-size: 11px;
    font-weight: 500;
  }

  &:hover:not(.ant-switch-disabled) {
    background: var(--controls-bg-accent-hover);
  }

  &:focus-visible {
    outline: none;
  }
}

// color picker

.ant-color-picker-trigger {
  background-color: var(--bg-layer-3);
  border-color: var(--stroke-tertiary);
  align-items: center;
  min-height: 28px;
  min-width: unset;
  padding: 0 4px;

  .ant-color-picker-clear {
    border: 1px solid var(--stroke-primary);
  }

  .ant-color-picker-color-block {
    border-radius: 3px;
    border: 1px solid var(--stroke-primary);
    height: 18px;
    width: 18px;
  }

  &:hover {
    border-color: var(--stroke-accent-primary);
  }
}

.ant-popover {
  .ant-popover-inner {
    padding: 8px;
  }
}

// input number

.ant-input-number {
  .ant-input-number-input {
    color: var(--text-primary);
  }

  .ant-input-number-handler-wrap {
    border-radius: 0;

    .ant-input-number-handler {
      background-color: var(--bg-layer-2);
      border-inline-start: 1px solid var(--stroke-primary);
    }

    .ant-input-number-handler-down {
      border-block-start: 1px solid var(--stroke-primary);
      border-end-end-radius: 0;
    }

    .ant-input-number-handler-up {
      border-start-end-radius: 0;
    }

    .anticon {
      color: var(--text-primary);
    }
  }
}

// segmented control
.ant-segmented.ant-segmented-sm {
  background: var(--bg-layer-4);

  .ant-segmented-item.ant-segmented-item-selected {
    background-color: var(--bg-layer-1);
  }

  .ant-segmented-thumb {
    background-color: var(--bg-layer-1);
  }

  .ant-segmented-item-label {
    line-height: 16px;
    min-height: 16px;
  }
}
