# Uvicorn worker threads count
WEB_CONCURRENCY=1

# Assistant configuration environment
ENV_TYPE=test

# MLFlow server configuration
MLFLOW_HOST=127.0.0.1
MLFLOW_PORT=8085

MLFLOW_BACKEND_URI=sqlite:///tracking/backend.db
MLFLOW_ARTIFACT_URI=tracking/artifacts

# DIAL SDK settings
PYDANTIC_V2=True
DIAL_SDK_LOG=INFO

# AES key to encrypt / decrypt persisted checkpoints
ASSISTANT_AES_KEY=

# Override e2e tests repeat count
RUN_COUNT=

# Set number of workers for e2e tests
PYTEST_XDIST_AUTO_NUM_WORKERS=1
PYTEST_OPEN_REPORT=False

# Log level for assistant and 3rd party packages
LOG_LEVEL=DEBUG