# Uvicorn worker threads count
WEB_CONCURRENCY=1

# Assistant configuration environment
ENV_TYPE=test

# MLFlow server configuration
MLFLOW_HOST=127.0.0.1
MLFLOW_PORT=8085

MLFLOW_BACKEND_URI=sqlite:///tracking/backend.db
MLFLOW_ARTIFACT_URI=tracking/artifacts

# DIAL SDK settings
PYDANTIC_V2=True
DIAL_SDK_LOG=INFO
